<nav class="navbar">
        <div class="header-left">
                <div class="circle-image">
                    <img src="assets/WhatsApp%20Image%202025-11-02%20at%2010.18.45_9579bf8f.jpg" alt="George's Profile Picture">
                </div>
                <div class="nav-brand">
                    <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
                </div>
        </div>
        <ul class="nav-links">
            <li><a href="{{ '/' | relative_url }}">Home</a></li>
            <li><a href="{{ '/about' | relative_url }}">About</a></li>
            <li><a href="{{ '/projects' | relative_url }}">Projects</a></li>
        </ul>
        <div class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
</header>
